---
import BaseLayout from '@/layouts/BaseLayout.astro';
import IntroLayout from '@/layouts/IntroLayout.astro';

import NavBar from '@/components/NavBar.astro';
import SimpleHeader from '@/components/SimpleHeader.astro';
import InfoList from '@/components/InfoList.astro';
import TableOfContents from '@/components/TableOfContents.astro';
import Links from '@/components/Links.astro';

import { toRoman } from '@/utils/number';
import { formatTitle } from '@/utils/text';

import { getCollection } from 'astro:content';
const project_entries = await getCollection('projects');
const experience_entries = await getCollection('experiences');
const extra_curriculars_entries = await getCollection('extra-curriculars');
const links_entries = await getCollection('links');

const contents = [
	{ name: "projects", entries: project_entries, num_show: 4 },
	{ name: "experiences", entries: experience_entries, num_show: 3, },
	{ name: "extra_curriculars", entries: extra_curriculars_entries, num_show: 4 },
	{ name: "links", not_entry: true, entries: null },
];
---

<BaseLayout title={'Portfolio'} >
	<header class=" h-screen block-container ">
		<IntroLayout />
		<i class="fa-solid fa-arrow-down mt-10 lt-color animate-bounce"></i>
	</header>

	<main>
		<section class=" block-container h-[30vh] ">
			<TableOfContents {contents} />
		</section>

		<NavBar {contents} />

		<div class='mt-20'></div>
		{contents
			.filter(content => !content.not_entry)
			.map((content, i) => 
			<section class=" block-container pt-20 " id={content.name}>
				<div class="w-[90vw] md:w-[55vw]">
					<SimpleHeader text={formatTitle(content.name)} number={toRoman(i + 1)} />
					<InfoList 
						entries={content.entries!}  
						num_show={content.num_show!}
						id={content.name} />
				</div>
			</section>)}
	</main>

	<footer class="mt-[15vh] ">
		<section class=" block-container mb-[15vh] " id="links">
			<Links links={links_entries} />
		</section>
		<section class=" block-container mt-10 mb-[5vh] opacity-70 ">
			<p>&copy; 2024 Sokmontrey Sythat.</p>
		</section>
	</footer>
</BaseLayout>

<style>
.block-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    box-sizing: border-box;
}
</style>
