---
interface Props {
  width: number;
  additional_width: number;
  str: string;
  postfix: string;
	href: string;
	is_blank?: boolean;
};

const { width, additional_width, str, postfix, href, is_blank } = Astro.props;

const dot = '.';
const dash = '=';
---

<a href={href} target={is_blank ? '_blank' : ''}>
	<span class='nt-color'>{str}</span>
	<span id="dot">
		<span class='lt-color'>{dot.repeat(width - str.length)}</span><!-- avoiding extra margin between spans
		--><span class='lt-color hidden md:inline'>{dot.repeat(additional_width)}</span>
	</span>
	<span id="dash" class="hidden">
		<span class='lt-color'>{dash.repeat(width - str.length)}</span><!-- avoiding extra margin between spans
		--><span class='lt-color hidden md:inline'>{dash.repeat(additional_width)}</span>
	</span>
	<span class="nt-color" set:html={postfix}></span>
</a>

<style>
a {
	transition: all 0.2s ease-in-out;
}

a:hover .nt-color {
	color: var(--pm-color);
}

a:hover .lt-color {
	color: var(--pm-color);
}

a:hover #dash {
	display: inline;
}

a:hover #dot {
	display: none;
}
</style>
