---
interface Item {
	title: string[];
	url: string;
	tags: string[];
	type: string[];
	description: string;
}

interface Props {
	items: Item[];
	num_show: number;
	id: string;
}

const { items, num_show, id } = Astro.props;

import InfoCard from '@/components/InfoCard.astro';
import ShowMoreButton from './ShowMoreButton.astro';

const length = items.length;
---

<ul class="py-4 pt-8 ">
	{items.slice(0, num_show).map(item => <InfoCard
			title={item.title} 
			url={item.url}
			tags={item.tags}
			type={item.type}
			description={item.description} /> )}

	{length > num_show ? <ShowMoreButton target_id={"more-" + id} /> : <></>}

	<div id={"more-" + id} class='hidden'>
		{length > num_show 
		? items.slice(num_show, length).map(item => <InfoCard
				title={item.title} 
				url={item.url}
				tags={item.tags}
				type={item.type}
				description={item.description} /> )
		: <></> }
	</div>
</ul>
