---
import type { CollectionEntry } from 'astro:content'

interface Props {
	entry: CollectionEntry<'projects'>
	| CollectionEntry<'experiences'>
	| CollectionEntry<'extra_curriculars'>;
}

const { entry } = Astro.props;
const { title, description, type, tags, url } = entry.data;
---

<li class="container py-2">
	<div class='flex items-center '>
		<h2 class="mono-font flex-1 h2 font-medium">
			{url 
			? <a href={url} target="_blank" class="group hover:text-[var(--pm-color)]">
				{title} <span class='lt-color group-hover:text-[var(--pm-color)] text-sm group-hover:pl-1 transition-all duration-200'>&gt; details</span>
			</a>
			: <span>{title}</span>}
		</h2 >
		<p class='mono-font opacity-50'>
			[{tags.join(', ')}]
		</p>
	</div>
	<p class='mono-font type-container pt-2'>
		<span class="type1 opacity-50 hidden md:inline ">({type[0]}.)</span>
		<span class='type2 opacity-50 inline md:hidden '>({type[1]}.)</span>
	</p >
	<p class='mono-font description mb-4 lt2-color lg:w-[70%]' >
		{description.split("**").map((t, i) => 
		i % 2 === 0 
		? <span>{t}</span> 
		: <strong>{t}</strong>)}
	</p>
</li>

<style>
strong {
	color: var(--sd-color);
}

i::before {
	font-size: 0.9rem;
	color: var(--lt-color);
}

.container {
	display: flex;
	flex-direction: column;
}

.type-container {
	/* cursor: pointer; */
}

.type-container:hover .type1 {
	display: none;
}

.type-container:hover .type2 {
	display: inline;
}
</style>
