---
const {entry} = Astro.props;
const {title, description, thumbnail, thumbnail_hover, links} = entry.data;
---

<div class="flex flex-col md:flex-row items-center justify-between my-8">
    <div class="flex flex-col ">
        <h2 class="mono-font h2 ">
            {title}
        </h2>
        <p class="sans-font lt2-color mt-2 w-[80%] ">
            {description}
        </p>
        <div class="h-full mono-font mt-4 flex flex-col flex-1">
            {links.map(link => <a href={link.url} target="_blank" class="link">
                {link.name}
            </a>)}
        </div>
    </div>
    {thumbnail &&
            <img
                    src={thumbnail}
                    alt={title}
                    class={"w-[50%] md:w-[24%] h-[auto] object-cover "}
            />
    }
</div>

<style>
    .link {
        color: var(--lt2-color);
        opacity: 0.8;
    }

    .link::before {
        content: '>';
        margin-right: 0.1rem;
        transition: all 0.1s ease-in-out;
    }

    .link:hover::before {
        margin-right: 0.3rem;
    }

    .link:hover {
        opacity: 1;
        color: var(--pm-color);
    }

    .link:active::before {
        margin-right: 0.1rem;
    }
</style>