---
import Layout from '../Layout.astro';
import Title from '../../components/articles/Title.svelte';

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} description={frontmatter.description || "No Description"}>
  <nav class='fixed top-0 left-0 p-8'>
    <a href='/articles' class=' group no-underline opacity-80 hover:opacity-100 '>
      <span class='font-serif text-lg '>{frontmatter.type || "Articles"}</span>
    </a>
    <p class='font-mono font-light text-sm opacity-50 '>By Sokmontrey</p>
  </nav>

  <header class='w-[45%] mx-auto pt-20 '>
    <!-- <h1 class='pm-color w-[80%] '> -->
    <!--   <span class='text-4xl '>{frontmatter.title[0]}</span><span>{frontmatter.title.slice(1)}</span> -->
    <!-- </h1> -->
    <Title title={frontmatter.title} />

    <div class='pl-8 opacity-80 '>
      <p class=' w-full mt-6 font-mono '>
        {frontmatter.date}
      </p>
      <div class=' whitespace-pre mb-6 ml-[-0.5rem] font-mono text-sm '>
        {(frontmatter.tags || []).map((tag)=>
          <span class='ac1-color mr-2'>#{tag}</span>
        )}
      </div>
      <p class=' w-[90%] '>
        {frontmatter.description}
      </p>
    </div>
    <hr class='my-10 mx-auto '>
  </header>

  <main class=' w-[40%] mx-auto '>
    <slot />
  </main>
</Layout>
